@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*.body{
  background-image: url('https://ordinaryfaith.net/wp-content/uploads/2016/03/Gray-plain-website-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}*/

.login-page {
  width: 500px;
  padding: 30% 0 0 !important; 
  margin: auto;

}
.form {
  position: relative;
  z-index: 1;
  background: #4a4b4b;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}
.form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f1c06f;
  width: 50% !important;
  border: 0;
  margin: 0 0 5px !important;
  padding: 6px !important;
  box-sizing: border-box;
  font-size: 12px !important;
border-radius:6px !important;
  
}
.form a {
  font-family: FontAwesome, "Roboto", sans-serif;
  font-size: 10px;
  text-align: center;
  color: #1a1a1a;
}
.form button {
  font-family: "Titillium Web", sans-serif;
  font-size: 12px !important;
  font-weight: bold;
  letter-spacing: .1em !important;
  outline: 0;
  background: #fea91e;
  width: 30% ! important;
  border: 0;
border-radius:15px !important;
  margin: 0px 0px 3px !important;
  padding: 6px !important;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;


}
.form button:hover,.form button:focus {
  background: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-4px);
}
.form button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.form .message {
  
  margin: 3px 3px !important;
  color: #808080;
  font-size: 3px !important;
  text-align: center;
  font-weight: bold;
  font-style: normal;
}
.form .message a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px !important;
}
.form .register-form {
  display: none;
}
.containerMain {
  position: relative;
  z-index: 1;
  /* max-width: 300px; */
  margin: 0 auto !important;
}
.containerMain:before, .containerMain:after {
  content: "";
  display: block;
  clear: both;
}
.containerMain .info {
  margin: 50px auto;
  text-align: center;
}
.containerMain .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.containerMain .info span {
  color: #000000;
  font-size: 12px;
}
.containerMain .info span a {
  color: #000000;
  text-decoration: none;
}
.containerMain .info span .fa {
  color: #fea91e;
}
body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #222222, #222222);
 /* background: -moz-linear-gradient(right, #1b1b1b, #1b1b1b);
  background: -o-linear-gradient(right, #1f1f1f, #1f1f1f);
  background: linear-gradient(to left, #363636, #363636);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/     
}
.containerMainMain{
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width:375px){

  .login-page {
    width: 300px !important ;
    padding:40% 0 0 !important ;
    /* background-color: brown; */
  }

}


