@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 60% 0 0;
  margin: auto;

}
.form {
  position: relative;
  z-index: 1;
  background: #4a4b4b;
  max-width: 200% !important;
  margin: 0 auto 100px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
  
}
.form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f1c06f;
  width: 60% !important;
  border: 0;
  margin: 0 0 6px !important;
  padding: 8px !important;
  box-sizing: border-box;
  font-size: 14px;
border-radius:10px;
  
}
.form button {
  font-family: "Titillium Web", sans-serif;
  font-size: 9px !important;
  font-weight: bold;
  letter-spacing: .1em;
  outline: 0;
  background: #fea91e;
  width: 50% !important;
  border: 0;
border: radius 10px !important; 
  margin: 0px 0px 3px !important;
  padding: 10px !important;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;


}
.form button:hover,.form button:focus {
  background: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-4px);
}
.form button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form .message {
  
  margin: 3px 3px !important;
  color: #808080;
  font-size: 10px !important;
  text-align: center;
  font-weight: bold;
  font-style: normal;

  

}
.form .message a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13px;
}
.form .register-form {
  display: none;
}
/* .container {
  position: relative;
  z-index: 1;
  max-width: 200px !important;
  margin: auto;
}
.container:before, .container:after {
  content: "";
  display: box;
  clear: both;
}
.container .info {
  margin: auto;
  text-align: center;
}
.container .info h1 {
  margin: auto;
  padding: 10px;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #000000;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #fea91e;
} */
body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #222222, #222222);
 /* background: -moz-linear-gradient(right, #1b1b1b, #1b1b1b);
  background: -o-linear-gradient(right, #1f1f1f, #1f1f1f);
  background: linear-gradient(to left, #363636, #363636);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/     
}
.containerMain{
  display: flex;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width:375px){

  .login-page {
    width: 300px !important ;
    padding:40% 0 0 !important ;
    /* background-color: brown; */
  }

}