@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:wght@100;300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-header{
    padding: 1rem;
    display: flex;
    width: 100%;
    background-color: #222222;
    border-bottom:1px solid white ;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    /* height: 16vh; */
    z-index: 10;
}

.main-header a{
    text-decoration: none;
    color: #fff9ef;
}

.nav-list{
    display: flex;
    flex-direction: row;
    color:#f1c06f;
    list-style: none;
}

/* .nav-list_item{
    margin: 0 .7rem;
} */
.nav-list_item img,.dropdown>img{
    margin: 0 .8rem;
    height: 2.5rem;
}

.headerCartIcon{
    filter: invert(1);
 }
 .nav-list_item{
    min-width: 50px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}  
.hovertext{
    position: relative !important;
    left : 20px;
}
/* .nav-list_item:hover{
	filter: invert(0);
    border-radius: 30%; 
    

    transform: scale(1.1);
} */
/* .nav-list_item-box:hover .nav-list_item{
    background: #222222;
}
.nav-list-box{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 5px auto;

} */


.dropbtn {
    background-color: #006eff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1717;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    /* color: rgb(221, 16, 16); */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(3, 3, 3);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .toggle-button,.mobile-nav{
      display: none;
  }

  .nav-list-box{
      display: flex;
  }

  .logout-btn{
    width: 12rem;
    height: 3rem;
    border-radius: 100px;
    background-color: #FF9900;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

  @media screen and (max-width:40rem){
    .nav-list{
        display: none;
    }

    .toggle-button {
        display: block;
        width: 3rem;
        background: transparent;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
      }

      .toggle-button:hover{
          background-color: #222222;
      }
      
      .toggle-button:focus {
        outline: none;
      }
      
      .toggle-button__bar {
        width: 100%;
        height: 0.2rem;
        background: rgb(255, 255, 255);
        display: block;
        margin: 0.6rem 0;
      }

      .logout-btn{
          margin-right: 1.5rem;
          width: 5rem;
      }

      h1{
          font-size: 2rem;
      }

      .mobile-nav{
          margin-top: 50px;
          display: flex;
          width: 100%;
      }

      .mobile-nav_items{
          display: flex;
          width: 100%;
          flex-direction: column;
      }

      .mobile-nav_item{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        background-color: #222222;
        border-bottom:1px solid grey ;
        height: 10vh;
        padding-left: 1rem;
      }

      .mobile-nav_item:hover{
        background-color: rgb(3, 3, 3);
      }

      .mobile-nav_item>a{
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
      }

      .accounts{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
      .mobile-nav-sublist{
        list-style: none;
        width: 100%;
      }

      .mobile-nav-sublist>li{
          border-top: 1px solid grey;
          border-bottom:1px solid grey ;
          padding: 1rem 5rem;
      }
      .mobile-nav-sublist>li:hover{
        background-color: rgb(3, 3, 3);
    }
    .displayno{
        display: none;
    }
  }

