@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:wght@100;300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	width: 100vw;
}

body {
	background-color: #222222;
	color: white;
	position: relative;
    font-family: 'Lato';
	margin: 50px 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	margin: 50px 0;
}
.card{
	background: none !important;
}
.main_content {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	position: relative;
	justify-content: start;
	flex-wrap: wrap;
	padding-top: 50px;
}
.main_content h1 {
	position: absolute;
	top: 0;
	left: 2%;
	font-size: 3rem;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 33%;
	position: relative;
	margin: 50px 0px 50px 0;
}

.card_img {
	position: relative;
    transition: all .2s ease-in-out;
}

.card_img:hover{
    transform: scale(1.1);
}
.circle {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	position: absolute;
	top: 3%;
	left: -10%;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.233);
	filter: blur(10px);
}

.card_img img {
	max-width: 200px;
}

.wishlistImg {
	width: 35px;
	filter: invert(1);
	margin-left: 50px;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.wishlistImg:hover{
	filter: invert(0);
    border-radius: 60%; 
    background-color: rgb(255, 255, 255);

    transform: scale(1.1);
}

.card_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 20px 0;
    transition: all 1s linear;
}

.react-icons {
	vertical-align: middle;
	size: 120rem;
  }

  button{
	width: 12rem;
    height: 3rem;
    border-radius: 100px;
    background-color: #FF9900;
    font-size: 1rem;
	margin-bottom: .6rem;
  }

  button:hover{
	  background-color: #ffd000;
	  cursor: pointer;
  }


  @media screen and (max-width:1024px){
	.main_content {
		width: 80%;
	}
	.card{
		width : 50%;
	}
  }

  
  @media screen and (max-width:680px){
	.main_content {
		width: 90%;
	}
	.card{
		width :100%;
	}
  }
  
  @media screen and (max-width:320px){
	  .main_content h1 {
		font-size: 2.5rem;
	}
  }

